extends layout

block main
  .row.center-xs
    .col-xs-12.col-sm-8.col-md-4
      form(action="/create-todo" method="post" class="form")
        input(type="text" name="title" )
        textarea(name="body" cols="30" rows="10")
        input(type="date" name="date")
        input(type="submit" value="ADD")